@import "productListing";

.products {
  &-container{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 100px;
    justify-content: start;
    flex-wrap: wrap;

    .product-item {
      width: 300px;
      height: 500px;
      box-shadow: 0 4px 2px 0 rgba(0,0,0,0.2);
      border: solid 1px lightgray;
      transition: 0.3s;
      margin: 10px;
      padding: 10px;

      .price {
        font-weight: 600;
        font-size: 16px;
        color: indigo;
      }
    }

    img {
      width: 200px;
      height: 200px;
    }
  }
}
